<div class="side">
    <!-- admin details -->
    <div class="profile">
        <img src="https://img.freepik.com/free-vector/social-distance-gym_52683-41748.jpg?size=626&ext=jpg&ga=GA1.1.2071492278.1682518740&semt=ais" alt="admin img">
        <h3>Get Fit</h3>
        <h4>You</h4>
    </div>
    <mat-divider></mat-divider>
    <h2>For you</h2>
   <div class="Pages">
        <a routerLink="">Workout Plans</a>
        <a routerLink="employees">Trainer's Suggestions</a>
        <a routerLink="gallery">Calender</a>
   </div>
    <mat-divider></mat-divider>
    <h2>More</h2>
    <div class="Pages">
        <a routerLink="contacts"><mat-icon>phone</mat-icon>Contact Us</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>Leads</a>
      
    </div>
    </div>

