<!-- card -->
<div class="cards">
    <!-- card1 -->
     <mat-card>
         <app-card 
         bg="orange"
        icon="arrow_circle_up"
         description="Height"
         count="150"
         ></app-card>
       </mat-card>
       <!-- card2 -->
       <mat-card>
         <app-card
         bg="red"
         icon="arrow_circle_down"
         description="Weight"
         count="68"
         ></app-card>
       </mat-card>
       <!-- card3 -->
       <mat-card>
         <app-card
         bg="rose"
         icon="hourglass_top"
         description="Calories to burn"
         count="250"
         ></app-card>
       </mat-card>
       <!-- card4 -->
       <mat-card>
         <app-card
         bg="blue"
        icon="track_changes"
         description="Target weight"
         count="51"
         ></app-card>
       </mat-card>
 </div>
 <mat-divider></mat-divider>


 <div class="graph-chart">
  
    <div class="graph1">
        <app-graph></app-graph>
    </div>
    <div class="chart">
      <app-chart></app-chart>
    </div>
    </div>

   <div class="pie-yearchart">
      <div class="pie">
        <app-pie></app-pie>
      </div>
      <div class="yearchart">
        <app-yearchart></app-yearchart>
      </div>
   </div>
    

